NEXT_PUBLIC_SUPABASE_URL= https://ptacimjzjqecxotqrgli.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0YWNpbWp6anFlY3hvdHFyZ2xpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MDI2NTIsImV4cCI6MjA5MzQ3ODY1Mn0.fRt4MOgg7nnXpShRWjb45YORR9Qwkcqo662BpJXnRcA
GEMINI_API_KEY= AIzaSyDKuKuO5nTZeCdciiMkKvo13zfl5v54jI4your_gemini_api_keygen-lang-client-0607977495